<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhuisuyun.net.rpaparent.dao.RpaDictionaryMapper">

    <resultMap id="BaseResultMap" type="com.zhuisuyun.net.rpaparent.entity.RpaDictionary">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="linkId" column="link_id" jdbcType="INTEGER"/>
        <result property="value" column="value" jdbcType="VARCHAR"/>
        <result property="text" column="text" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,link_id,value,text,status
    </sql>
</mapper>
